
  
  textarea {
      font-style: normal;
      fon-size: 99%;
      }

 
  .inp {
      padding: 20px;
      position: fixed;
      margin-left: -2px;
      margin-top: -2px; 
      font-size: 110%;
      background-color: rgba(0,0,0,0);
      }

   .label {
      text-align: center;
      }

 
